.inner-header-cm {
  width: 100%;
  height: 410px;
  overflow: hidden;
  transition: all 0.2s ease;
  position: relative;
  user-select: none;
  z-index: 8;
}

.cosmeticon-title img {
  position: absolute;
  width: 400px;
  top: 46%;
  left: 5%;
  max-width: 90%;
  z-index: 9;
  transition: 0.3s;
}

.cosmeticon-header {
  position: relative;
  background: radial-gradient(
      113.2% 105.31% at 14.15% 101.53%,
      #f5f 0%,
      rgba(255, 85, 255, 0.5) 45.09%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      99.78% 100.84% at 92.34% 2.94%,
      #0adcdc 0%,
      rgba(10, 220, 220, 0.5) 48.51%,
      rgba(253, 255, 255, 0) 100%
    ),
    radial-gradient(128.96% 128.96% at 11.64% 6.07%, #7800ff 0%, #0569f0 100%);
  z-index: 9;
  transition: 0.3s;
}

.cosmeticon-header::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(
      106.71% 100.06% at 82.8% -0.02%,
      #f5f 0%,
      rgba(255, 85, 255, 0.5) 45.09%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      104.67% 101.26% at 31.97% 100.02%,
      #0adcdc 0%,
      rgba(10, 220, 220, 0.5) 48.51%,
      rgba(253, 255, 255, 0) 100%
    ),
    radial-gradient(128.96% 128.96% at 11.64% 6.07%, #7800ff 0%, #0569f0 100%);
  transition: opacity 0.3s linear;
  opacity: 0;
  animation: rotate-bg 20s infinite linear;
}

@keyframes rotate-bg {
  0% {
    background-image: radial-gradient(
        106.71% 100.06% at 82.8% -0.02%,
        #f5f 0%,
        rgba(255, 85, 255, 0.5) 45.09%,
        rgba(255, 255, 255, 0) 100%
      ),
      radial-gradient(
        104.67% 101.26% at 31.97% 100.02%,
        #0adcdc 0%,
        rgba(10, 220, 220, 0.5) 48.51%,
        rgba(253, 255, 255, 0) 100%
      ),
      radial-gradient(128.96% 128.96% at 11.64% 6.07%, #7800ff 0%, #0569f0 100%);
    opacity: 0;
  }
  25% {
    background-image: radial-gradient(
        106.71% 100.06% at 82.8% -0.02%,
        #f5f 0%,
        rgba(255, 85, 255, 0.5) 45.09%,
        rgba(255, 255, 255, 0) 100%
      ),
      radial-gradient(
        104.67% 101.26% at 31.97% 100.02%,
        #0adcdc 0%,
        rgba(10, 220, 220, 0.5) 48.51%,
        rgba(253, 255, 255, 0) 100%
      ),
      radial-gradient(128.96% 128.96% at 11.64% 6.07%, #7800ff 0%, #0569f0 100%);
    opacity: 1;
  }
  50% {
    background-image: radial-gradient(
        106.71% 100.06% at 82.8% -0.02%,
        #f5f 0%,
        rgba(255, 85, 255, 0.5) 45.09%,
        rgba(255, 255, 255, 0) 100%
      ),
      radial-gradient(
        104.67% 101.26% at 31.97% 100.02%,
        #0adcdc 0%,
        rgba(10, 220, 220, 0.5) 48.51%,
        rgba(253, 255, 255, 0) 100%
      ),
      radial-gradient(128.96% 128.96% at 11.64% 6.07%, #7800ff 0%, #0569f0 100%);
    opacity: 0;
  }
  75% {
    background-image: radial-gradient(
        106.71% 100.06% at 82.8% -0.02%,
        #f5f 0%,
        rgba(255, 85, 255, 0.5) 45.09%,
        rgba(255, 255, 255, 0) 100%
      ),
      radial-gradient(
        104.67% 101.26% at 31.97% 100.02%,
        #0adcdc 0%,
        rgba(10, 220, 220, 0.5) 48.51%,
        rgba(253, 255, 255, 0) 100%
      ),
      radial-gradient(128.96% 128.96% at 11.64% 6.07%, #7800ff 0%, #0569f0 100%);
    opacity: 1;
  }
  100% {
    background-image: radial-gradient(
        106.71% 100.06% at 82.8% -0.02%,
        #f5f 0%,
        rgba(255, 85, 255, 0.5) 45.09%,
        rgba(255, 255, 255, 0) 100%
      ),
      radial-gradient(
        104.67% 101.26% at 31.97% 100.02%,
        #0adcdc 0%,
        rgba(10, 220, 220, 0.5) 48.51%,
        rgba(253, 255, 255, 0) 100%
      ),
      radial-gradient(128.96% 128.96% at 11.64% 6.07%, #7800ff 0%, #0569f0 100%);
    opacity: 0;
  }
}
