.inner-header-gt {
  background-color: #1255a5;
}

.gt-header {
  width: 100%;
  height: 410px;
  overflow: hidden;
  transition: all 0.2s ease;
  position: relative;
  user-select: none;
  z-index: 8;
}

.gt-header .gt-bg2 img,
.gt-header .gt-bg3 img {
  position: absolute;
}

.gt-header .gt-bg-movin {
  background-image: url("../../img/gt-bg1.png");
  height: 100%;
  width: 100%;
  overflow: visible;
  position: absolute;
  opacity: 0.1;
  animation: bgmove 80s infinite linear;
}

@keyframes bgmove {
  0% {
    background-position: 0 -50px;
  }
  100% {
    background-position: -100vw -50px;
  }
}

.gt-header .gt-bg2 img {
  width: 1000px;
  right: -490px;
  top: -310px;
}

.gt-header .gt-bg3 img {
  width: 1000px;
  left: -490px;
  top: -310px;
}

.gt-header .gt-logo img {
  max-width: 80%;
  max-height: 80%;
  transform: translateY(20%);
  margin-left: 32px;
  place-content: center;
  max-width: 90%;
  z-index: 9;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .gt-header .gt-bg3 {
    display: none;
  }
  .gt-header .gt-bg2 img {
    left: 50%;
  }
  .gt-header .gt-logo img {
    max-width: 50%;
    max-height: 50%;
  }
}
