.inner-header-ir {
  width: 100%;
  height: 410px;
  overflow: hidden;
  transition: all 0.2s ease;
  position: relative;
  user-select: none;
  z-index: 8;
}

.inner-header-ir {
  background-image: url("../../img/iris-movin-bg.png");
  background-size: contain;
  background-position: center;
  z-index: 8;
  animation: bgmoveup 120s infinite linear;
}

@keyframes bgmoveup {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: -500px -100vw;
  }
}

.inner-header-ir .iris-logo img {
  position: absolute;
  top: 60%;
  left: 5%;
  width: 400px;
  max-width: 50%;
  z-index: 9;
  transition: 0.3s;
}

.inner-header-ir .iris-bg2 img {
  position: absolute;
  max-height: 100%;
  max-width: auto;
  top: 0;
  left: -4%;
  transform: scale(1) translateY(0%);
  transition: 0.3s;
  filter: brightness(70%);
}

@media (max-width: 600px) {
  .inner-header-ir .iris-bg2 img {
    left: -40%;
  }

  .inner-header-ir .iris-logo img {
    position: absolute;
    top: 40%;
    left: 5%;
    max-width: 80%;
  }
}
