.inner-header-mj {
  width: 100%;
  height: 410px;
  overflow: hidden;
  transition: all 0.2s ease;
  position: relative;
  user-select: none;
  z-index: 8;
  background-image: url("../../img/bg3.png");
  background-size: contain;
}

.majestosa-title img {
  position: absolute;
  top: 29%;
  left: 5%;
  width: 400px;
  max-width: 90%;
  z-index: 9;
  transition: 0.3s;
}
