.inner-header-vt {
  width: 100%;
  height: 410px;
  overflow: hidden;
  transition: all 0.2s ease;
  position: relative;
  user-select: none;
  z-index: 8;
  background: #cbcbcb;
  background-size: contain;
}

.vt-header .vertigo-disc-header img {
  right: -10%;
  top: -40%;
  width: 70%;
  position: absolute;
  animation-name: spinny1;
  animation-delay: -5s;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
