<<<<<<< HEAD
:root {
  --c1: #fff8de;
  --c2: #ffe58b;
  --c3: #fcdd70;
  --c4: #f2d15d;
  --c5: #e3c045;
  --c6: #d4b032;
  --c7: #c39e1f;
  --c8: #b38e0e;
  --c9: #a48002;
  --c10: #986f05;
  --c11: #845f00;
  --c12: #6f5000;
  --c13: #513a00;
  --c14: #322400;
  --c15: #353228;
  --c16: #100b00;
}

.c1 {
  color: var(--c1);
}

.c2 {
  color: var(--c2);
}
.c3 {
  color: var(--c3);
}
.c4 {
  color: var(--c4);
}
.c5 {
  color: var(--c5);
}
.c6 {
  color: var(--c6);
}
.c8 {
  color: var(--c8);
}
.c9 {
  color: var(--c9);
}

.c10 {
  color: var(--c10);
}

.c11 {
  color: var(--c11);
}

.c12 {
  color: var(--c12);
}

.c13 {
  color: var(--c13);
}

.c14 {
  color: var(--c14);
}

.c15 {
  color: var(--c15);
}

.c16 {
  color: var(--c16);
}
=======
:root {
  --c1: #fff8de;
  --c2: #ffe58b;
  --c3: #fcdd70;
  --c4: #f2d15d;
  --c5: #e3c045;
  --c6: #d4b032;
  --c7: #c39e1f;
  --c8: #b38e0e;
  --c9: #a48002;
  --c10: #986f05;
  --c11: #845f00;
  --c12: #6f5000;
  --c13: #513a00;
  --c14: #322400;
  --c15: #353228;
  --c16: #100b00;
}

.c1 {
  color: var(--c1);
}

.c2 {
  color: var(--c2);
}
.c3 {
  color: var(--c3);
}
.c4 {
  color: var(--c4);
}
.c5 {
  color: var(--c5);
}
.c6 {
  color: var(--c6);
}
.c8 {
  color: var(--c8);
}
.c9 {
  color: var(--c9);
}

.c10 {
  color: var(--c10);
}

.c11 {
  color: var(--c11);
}

.c12 {
  color: var(--c12);
}

.c13 {
  color: var(--c13);
}

.c14 {
  color: var(--c14);
}

.c15 {
  color: var(--c15);
}

.c16 {
  color: var(--c16);
}
>>>>>>> 9da0a76 (teste)
