<<<<<<< HEAD
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  overflow: overlay;
  padding-top: 98px;
}

ul,
h1,
h2,
h3,
p,
a {
  margin: 0 0 0 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  position: relative;
  max-width: 1300px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-2 {
  position: relative;
  max-width: 1600px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.container3 {
  position: relative;
  max-width: 900px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-cv {
  position: relative;
  max-width: 1300px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.project-title {
  text-align: center;
  padding: 32px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: 0 0 0 rgba(0, 0, 0);
}
::-webkit-scrollbar-corner {
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--c6);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c8);
}

.burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--c1);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.25s ease-in-out;
}

.burger span:nth-child(1) {
  top: 0px;
}

.burger span:nth-child(2),
.burger span:nth-child(3) {
  top: 8px;
}

.burger span:nth-child(4) {
  top: 16px;
}

.burger.active span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.burger.active span:nth-child(2) {
  transform: rotate(45deg);
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.burger.active span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
  .burger {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  body {
    padding-top: 80px;
  }
  .intro.container-2 {
    height: 400px;
  }
}
=======
html {
  scroll-behavior: smooth;
  overflow-anchor: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  user-select: none;
  position: relative;
  width: 100%;
  background-color: var(--nc3);
}

ul,
h1,
h2,
h3,
p,
a {
  margin: 0 0 0 0;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.header-bg-int {
  background: transparent;
  display: block;
  position: absolute;
  top: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 9999;
  transition: 0.8s;
  scroll-margin-top: 999rem;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1920px;
  padding: 0 154px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.container-2 {
  position: relative;
  width: 100%;
  padding: 80px 0 80px 0;
  margin: 0 auto;
}

.container3 {
  position: relative;
  max-width: 900px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-bg {
  width: 100%;
  height: -webkit-fill-available;
  position: absolute;
  overflow: hidden;
}

.inner-header .work {
  width: 100%;
}

.inner-header:hover .work {
  width: 100%;
}

.tinysquare {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: no-repeat center var(--nc3);
  transition: 0.1s;
}

.tinysquare1 {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: no-repeat center var(--nc-contrast);
  transition: 0.1s;
}

.project-title {
  text-align: center;
  padding: 32px;
}

.mob {
  display: none;
}

.dropbtn {
  background-color: transparent;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
}

.dropdown {
  position: relative;
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(154, 149, 132, 0.6);
  width: 84.5vw;
  overflow: auto;
  box-shadow: 0 4px 30px rgba(154, 149, 132, 0.3);
  z-index: 1;
  top: 64px;
  right: -32px;
  padding: 0 32px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--c1);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.25s ease-in-out;
}

.burger span:nth-child(1) {
  top: 0px;
}

.burger span:nth-child(2),
.burger span:nth-child(3) {
  top: 8px;
}

.burger span:nth-child(4) {
  top: 16px;
}

.burger.active span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.burger.active span:nth-child(2) {
  transform: rotate(45deg);
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.burger.active span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.show {
  display: block;
}

.footer-bg {
  margin: 32px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  gap: 12px;
  border: 4px solid var(--c1);
  width: 100%;
  padding: 32px 64px;
}

.footer-menu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

li:hover .tinysquare1 {
  width: 18px;
  transition: 0.1s;
}

.figma-embed {
  border: none;
  margin-bottom: -4px;
}

.coming-soon-bg .container {
  justify-content: center;
}

.soon-title {
  margin: 0 auto;
  position: relative;
}

.soon-title {
  width: auto;
  background-color: var(--nc-contrast);
  padding: 6px 12px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 12px;
  margin-top: 38px;
  z-index: 2;
}

.soon-txt > :nth-child(-n + 4) {
  margin-bottom: 24px;
}

.soon-txt-box {
  position: relative;
  z-index: 2;
}

.project-ctas {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 64px 0;
  gap: 32px;
  z-index: 2;
}

.ctas {
  background: var(--nc1);
}

.soon.ctas {
  background: var(--nc3);
}

.cta {
  justify-content: flex-start;
  width: 450px;
  transition: 0.2 ease;
  padding: 8px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.cta:hover {
  padding: 8px 0;
  transition: 0.2 ease;
  border-top: 1px solid var(--nc-contrast);
  border-bottom: 1px solid var(--nc-contrast);
}

.cta-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.2s ease;
  user-select: none;
  padding: 8px 32px 8px 12px;
  background: var(--nc2);
  justify-content: flex-start;
}

.cta-link::before {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  background: var(--nc-contrast);
  margin-right: 4px;
  transition: 0.2s ease;
}

.cta:hover .cta-link {
  background-color: var(--nc-contrast);
  color: var(--nc1);
  transition: 0.2s ease;
}

.cta:hover .cta-link a {
  color: var(--nc1);
  transition: 0.2s ease;
}

.cta:hover .cta-link::before {
  background: var(--nc1);
  width: 25px;
  transition: 0.2s ease;
  margin-right: 8px;
}

@media (max-width: 1600px) {
  .container {
    padding: 0 100px;
  }

  .container-2 {
    padding: 64px 0;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 80px;
  }
  .burger {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .intro.container-2 {
    height: 400px;
  }
  .container {
    padding: 0 32px;
  }
  .container-2 {
    padding: 38px 0;
  }
  .footer {
    padding: 32px 16px;
  }
  .cta {
    width: 100%;
  }
  .desk {
    display: none;
  }
  .mob {
    display: block;
  }
}
@media (max-width: 740px) {
  .dropdown {
    display: flex !important;
    visibility: visible !important;
    align-items: flex-start;
    justify-content: flex-end;
  }
}
>>>>>>> 9da0a76 (teste)
