.header-bg {
  background: #100b00;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header-img img {
  max-width: 85%;
}

.header-menu {
  display: flex;
  gap: 32px;
}

.header-menu a {
  padding: 5px 20px;
  gap: 20px;
  transition: all 0.3s ease;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 4px;
  width: 0px;
  background: var(--c1);
  margin-top: 2px;
  transition: 0.4s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 32px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: var(--c16);
  color: var(--c1);
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: -200%;
  width: 300%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  background-color: var(--c16);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--c1);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  max-height: 200px;
}

.intro-bg {
  background: var(--c3);
  background-image: url("../../img/decor.svg");
  background-repeat: no-repeat;
}

.intro {
  position: relative;
  height: 648px;
}

.intro-content img {
  position: absolute;
  display: block;
  margin: 0 auto;
  mix-blend-mode: luminosity;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-name: move-left;
}

.intro-txt {
  position: absolute;
  animation-fill-mode: forwards;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation-name: appear;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  white-space: nowrap;
  z-index: 0;
}
.intro-txt > :nth-child(-n + 2) {
  margin-bottom: 24px;
}

h1 {
  position: relative;
}

.intro-txt h1::before {
  content: "";
  display: block;
  width: 10%;
  height: 60%;
  background: url("../../img/h1\ before.svg") no-repeat center;
  position: absolute;
  left: -48px;
  top: 15px;
  transform-origin: left top;
  transition: transform 0.3s ease-in-out;
}

.intro-txt-s {
  display: none;
  position: absolute;
  top: 70%;
  left: 51.75%;
  transform: translate(-50%, -50%);
  text-shadow: -2px 3px 0px var(--c15);
  justify-content: center;
}

.intro-txt-s h1::before {
  content: "";
  display: block;
  width: 10%;
  height: 60%;
  background: url("../../img/h1-b-s.svg") no-repeat center;
  position: absolute;
  left: -28px;
  top: 10px;
  transform-origin: left top;
  transition: transform 0.3s ease-in-out;
}

@keyframes move-left {
  0% {
    left: 50%;
  }
  100% {
    left: 25%;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro a {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -2px 3px 0px var(--c15);
  justify-content: center;
}

.intro a::after {
  content: "";
  display: block;
  width: 33px;
  height: 23px;
  background: url("../../img/seta.svg") no-repeat center;
  position: absolute;
  right: -45px;
  top: 8px;
}

.work-bg {
  background: var(--c16);
}
.work {
  display: grid;
  justify-content: center;
}

.bikcraft,
.iris,
.illustration {
  position: relative;
  display: flex;
  align-items: center;
}

.separator {
  content: "";
  position: absolute;
  top: 99%;
  left: 2.5%;
  z-index: 3;
  height: 8px;
  width: 95%;
  border-radius: 4px;
  background-color: var(--c5);
}

.work-content {
  position: relative;
  max-width: 720px;
  max-height: 418px;
  overflow-clip-margin: content-box;
  overflow: clip;
  overflow: hidden;
  background-color: var(--c1);
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--c1);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}

.overlay.show {
  display: flex;
  opacity: 95%;
  visibility: visible;
}

.work-content2 {
  position: relative;
  width: 720px;
  height: 418px;
  background-color: var(--c1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.work-link img {
  padding: 8px;
  width: 205px;
  height: 205px;
  transition: 0.3s;
}

.work-link img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.work1:hover .bike1 {
  transform: scale(1.3);
  right: 10%;
  top: 30%;
  transition: 0.4s;
}

.bike1 {
  transform: scale(1.01);
  transition: 0.3s;
  position: relative;
  max-width: 100%;
  top: 0%;
  right: 0%;
}
.bike2 {
  position: absolute;
  top: 60%;
  left: 10%;
  max-width: 80%;
}

.iris1 {
  position: relative;
  top: -10%;
  left: 0;
  width: 145%;
  height: 145%;
  transform: translateY(0%);
  transition: 0.3s;
}
.iris2 {
  position: absolute;
  max-height: 100%;
  max-width: auto;
  top: 0;
  left: 0%;
  transform: scale(1) translateY(0%);
  transition: 0.3s;
}
.iris3 {
  position: absolute;
  max-width: 100%;
  top: 48%;
  left: 0%;
}

.work2:hover .iris1 {
  transform: translateY(-20%);
  transition: 0.4s;
}
.work2:hover .iris2 {
  transform: scale(1.2) translateY(8%);
  transition: 0.4s;
}

.work3 {
  background: linear-gradient(
    180deg,
    #f5af45 0%,
    rgba(95, 197, 211, 0.25) 27.08%,
    rgba(174, 95, 211, 0.25) 89.58%
  );
  background-color: white;
}
.uno1 {
  max-width: 100%;
  position: relative;
  left: 0%;
  right: 0%;
  top: -7.91%;
  bottom: -8.15%;
  transform: translateY(0%);
  transition: 0.3s;
}
.uno2 {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  transform: scale(1.01) translateY(0%);
  transition: 0.3s;
}
.uno3 {
  max-width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: scale(1.01);
  transition: 0.3s;
}
.uno4 {
  position: absolute;
  max-width: 100%;
  top: 60%;
  left: 5%;
}

.work3:hover {
  background-color: salmon;
  transition: 0.4s;
}

.work3:hover .uno1 {
  left: 5.69%;
  right: -5.69%;
  transform: translateY(20%);
  transition: 0.6s;
}
.work3:hover .uno2 {
  left: -9%;
  right: 0%;
  transform: scale(1.3) translateY(7%);
  /* filter: contrast(100%) saturate(100%); */
  transition: 0.6s;
}
.work3:hover .uno3 {
  transform: scale(1.3) translateY(-6%);
  left: 14%;
  transition: 0.6s;
}

.footer-bg {
  max-width: 100%;
  background: var(--c1);
  background-image: url("../../img/decor-footer.svg");
  background-position: right top;
  background-repeat: no-repeat;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  padding-top: 15px;
  padding-bottom: 40px;
}

.footer-img img {
  align-items: center;
  padding: 15px;
}

.footer-menu {
  display: block;
  grid-column: 2;
  grid-row: 2;
}

.footer li {
  display: block;
  margin-bottom: 10px;
}

.footer-menu li,
a {
  margin-bottom: 8px;
  padding: 5px;
  text-align: right;
  position: relative;
}

.footer-menu {
  place-content: right;
  margin-right: none;
}
.email::before {
  content: "";
  display: block;
  width: 26px;
  height: 25px;
  background: url("../../img/email.svg") no-repeat center;
  position: absolute;
  top: 12px;
  right: 432px;
}
.ig::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: url("../../img/ig.svg") no-repeat center;
  position: absolute;
  top: 12px;
  right: 432px;
}
.wp::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: url("../../img/wpp.svg") no-repeat center;
  position: absolute;
  top: 12px;
  right: 432px;
}

@media screen and (max-width: 1440px) {
  .work-content {
    max-width: 520px;
    max-height: 300px;
  }

  .work-content2 {
    width: 520px;
    height: 300px;
    gap: 0px;
  }

  .work-link img {
    width: 140px;
    height: 140px;
  }
  .uno4 {
    left: 0%;
  }
}
@media screen and (max-width: 1200px) {
  .intro-bg {
    background-position: -350px;
  }

  .header-menu {
    display: none;
  }

  .work-content {
    max-width: 450px;
    max-height: 260px;
  }

  .work-content2 {
    width: 450px;
    height: 260px;
    gap: 0px;
  }

  .work-link img {
    width: 120px;
    height: 120px;
  }

  .intro-content img {
    mix-blend-mode: luminosity;
    left: 50%;
    top: 50%;
    animation-name: none;
    overflow: hidden;
  }
  .intro-txt {
    display: none;
  }
  .intro-txt-s {
    display: block;
    animation-fill-mode: forwards;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation-name: appear;
    animation-delay: 1.5s;
    animation-duration: 1.5s;
  }

  .footer-bg {
    background-size: 200% auto;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr;
  }
  .footer-menu {
    display: block;
    grid-column: 1;
  }
}
@media screen and (max-width: 940px) {
  .intro-txt-s {
    right: 20%;
  }

  .work-content {
    max-width: 720px;
    max-height: 418px;
  }

  .work-content2 {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .footer-img img {
    max-width: 85%;
  }
  .intro-content img {
    max-height: 120%;
    top: 55%;
  }
  .work-content {
    width: 375px;
    height: 216px;
    overflow: hidden;
  }
  .iris1 {
    position: relative;
    top: -10%;
    left: 0;
    max-width: 145%;
    max-height: auto;
    transform: translateY(0%);
    transition: 0.3s;
  }
  .work1:hover .bike1 {
    transform: scale(1.3);
    right: 10%;
    top: 10%;
    transition: 0.4s;
  }
}
@media screen and (max-width: 600px) {
  .intro a {
    text-align: center;
  }
  .intro a::after {
    right: -23px;
    top: 3px;
    transform: scale(0.5);
  }
  .ig::before,
  .wp::before,
  .email::before {
    right: 250px;
    top: 6px;
  }
}
@media screen and (max-width: 560px) {
  .intro-txt-s {
    right: 0%;
  }
}
@media screen and (max-width: 400px) {
  .intro-content img {
    left: 48%;
  }
}
