.portfolio {
  display: flex;
  width: 100%;
  z-index: 3;
  position: relative;
}

.work {
  background: var(--nc-contrast);
  width: 20%;
  height: 350px;
  overflow: hidden;
  transition: all 0.2s ease;
  position: relative;
  user-select: none;
}

.portfolio-internal .work {
  width: 25%;
}

.work:hover {
  width: 50%;
  transition: all 0.2s ease;
}

.link-container {
  width: 100%;
  height: 100%;
  z-index: 10;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  transition: opacity 0.3s;
  opacity: 0;
  z-index: -99;
  background-image: linear-gradient(to top, black, transparent);
}

.internal-container {
  width: 100%;
  padding: 32px;
  transition: 0.2s ease;
  box-sizing: border-box;
}

.separator {
  height: 2px;
  width: 0%;
  background-color: var(--c1);
  transition: width 1s ease;
}

.link-box {
  display: flex;
  justify-content: space-between;
}

.work:hover .link-container {
  display: flex;
  transition: opacity 0.2s ease;
  z-index: 2;
  opacity: 1;
}

.work:hover .work-text {
  animation-fill-mode: forwards;
  opacity: 0;
  animation-name: appear;
  animation-delay: 0.1s;
  animation-duration: 0.6s;
}

.work:hover .learn-text {
  animation-fill-mode: forwards;
  opacity: 0;
  animation-name: appear;
  animation-delay: 0.1s;
  animation-duration: 0.8s;
}

.work:hover .separator {
  width: 100%;
  transition: width 2s ease;
}

.gt {
  background-color: #1255a5;
  z-index: 8;
}

.gt-bg2 img,
.gt-bg3 img,
.gt-logo img {
  position: absolute;
}

.work .gt-bg-movin {
  background-image: url("../../img/gt-bg1.png");
  height: 100%;
  width: 100%;
  overflow: visible;
  position: absolute;
  opacity: 0.35;
  background-position: 0 -28px;
}

.work:hover .gt-bg-movin {
  animation: bgmove 60s infinite linear;
}

@keyframes bgmove {
  0% {
    background-position: 0 -28px;
  }
  100% {
    background-position: -100vw -28px;
  }
}

.gt-bg2 img {
  right: -460px;
  top: -100%;
}

.gt-bg3 img {
  left: -200px;
  top: -100%;
}

.gt-logo img {
  max-width: 80%;
  max-height: 80%;
  transform: translateY(10%);
  margin-left: 32px;
  place-content: center;
  max-width: 90%;
  z-index: 9;
  transition: 0.3s;
}

.gt:hover .gt-bg1 img {
  transform: translateX(-15%);
  transition: 20s;
}

.gt:hover .gt-bg1-2 img {
  transform: translateX(-15%);
  transition: 20s;
}

.gt:hover .gt-bg2 img {
  left: -147.5%;
}

.gt:hover .gt-logo img {
  max-width: 50%;
  max-height: 50%;
  transform: translateY(10%);
  transition: 0.2s;
}

.cosmeticon-title img {
  position: absolute;
  width: 400px;
  top: 46%;
  left: 5%;
  max-width: 90%;
  z-index: 9;
  transition: 0.3s;
}

.cosmeticon {
  position: relative;
  background: radial-gradient(
      113.2% 105.31% at 14.15% 101.53%,
      #f5f 0%,
      rgba(255, 85, 255, 0.5) 45.09%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      99.78% 100.84% at 92.34% 2.94%,
      #0adcdc 0%,
      rgba(10, 220, 220, 0.5) 48.51%,
      rgba(253, 255, 255, 0) 100%
    ),
    radial-gradient(128.96% 128.96% at 11.64% 6.07%, #7800ff 0%, #0569f0 100%);
  z-index: 9;
  transition: 0.3s;
}

.cosmeticon::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(
      106.71% 100.06% at 82.8% -0.02%,
      #f5f 0%,
      rgba(255, 85, 255, 0.5) 45.09%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      104.67% 101.26% at 31.97% 100.02%,
      #0adcdc 0%,
      rgba(10, 220, 220, 0.5) 48.51%,
      rgba(253, 255, 255, 0) 100%
    ),
    radial-gradient(128.96% 128.96% at 11.64% 6.07%, #7800ff 0%, #0569f0 100%);
  transition: opacity 0.3s linear;
  opacity: 0;
}

.cosmeticon:hover::before {
  transition: 15s;
  opacity: 1;
}

.cosmeticon:hover .cosmeticon-title img {
  top: 30%;
  transition: 0.2s;
}

.iris {
  background-image: url("../../img/iris-movin-bg.png");
  background-size: contain;
  background-position: center;
  z-index: 8;
}

.iris-logo img {
  position: absolute;
  top: 37%;
  left: 5%;
  width: 400px;
  max-width: 90%;
  z-index: 9;
  transition: 0.3s;
}

.iris-bg2 img {
  position: absolute;
  max-height: 100%;
  max-width: auto;
  top: 0;
  left: 0%;
  transform: scale(1) translateY(0%);
  transition: 0.3s;
}

.iris:hover {
  animation: bgmoveup 120s infinite linear;
}

@keyframes bgmoveup {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: -500px -100vw;
  }
}

.iris:hover .iris-bg2 img {
  left: 1%;
  transform: scale(1.1) translateX(-5%);
  transition: 0.8s;
}

.iris:hover .iris-logo img {
  transform: scale(0.5) translateX(-45%) translateY(-25%);
  transition: 0.4s;
}

.bike {
  background-image: url("../../img/bicicleta1\ 1.png");
  background-size: cover;
  transition: 0.3s;
  z-index: 8;
}

.bike-title img {
  position: absolute;
  top: 37%;
  left: 5%;
  width: 400px;
  max-width: 90%;
  z-index: 9;
  transition: 0.3s;
}

.bike:hover .bike-title img {
  top: 32%;
  transition: 0.2s;
}

.majestosa {
  position: relative;
  overflow: hidden;
}

.majestosa-title img {
  position: absolute;
  top: 29%;
  left: 5%;
  width: 400px;
  max-width: 90%;
  z-index: 9;
  transition: 0.3s;
}

.majestosa::before {
  content: "";
  background-image: url("../../img/majestosa-bg.png");
  background-size: cover;
  transition: transform 0.3s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.majestosa:hover::before {
  transform: scale(2);
  transition: 20s;
}

.majestosa:hover .majestosa-title img {
  width: 300px;
  top: 15%;
  transition: 0.2s;
}

.separator-port {
  background-image: url(../../img/separator-port2.svg);
  min-height: 31px;
  z-index: 9;
  position: relative;
}

@media (max-width: 1600px) {
  .work {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .portfolio {
    display: grid;
    grid-template-columns: repeat(5, auto);
  }

  .portfolio-internal {
    display: grid;
    grid-template-columns: repeat(4, auto) !important;
  }

  .portfolio > :nth-child(1) {
    grid-column: span 5;
  }

  .portfolio-internal > :nth-child(1) {
    grid-column: span 4 !important;
  }

  .portfolio > :nth-child(1) .link-container,
  .portfolio-internal > :nth-child(1) .link-container {
    opacity: 1;
    z-index: 1;
  }

  .portfolio > :nth-child(1) .separator,
  .portfolio-internal > :nth-child(1) .separator {
    width: 100%;
  }

  .portfolio-internal .work {
    width: 100%;
  }

  .work {
    width: 100%;
  }

  .work:hover {
    width: 100%;
  }

  .gt-logo img {
    top: 30%;
    margin-left: 8px;
  }

  @keyframes bgmove {
    0% {
      background-position: 0 -28px;
    }
    100% {
      background-position: -100vw -28px;
    }
  }

  .work.active.gt .gt-bg-movin {
    animation: bgmove 60s infinite linear;
  }

  .work.active.gt .gt-bg2 img {
    left: -147.5%;
  }

  .work.active.gt .gt-logo img {
    max-width: 50%;
    max-height: 50%;
    transform: translateY(-32%);
    transition: 0.2s;
  }
}
