<<<<<<< HEAD
.about-bg {
  background: var(--c3);
  background-image: url("../../img/decor.svg");
  background-repeat: no-repeat;
  background-position: -350px;
}

.article h1 {
  padding: 8px 8px 8px 8px;
  left: 5%;
}

.education {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.education div:nth-last-child(-n + 2) {
  margin-bottom: 30px;
}

.about-content {
  padding: 30px;
}

.article-bg {
  background: var(--c15);
}

.article p {
  text-align: center;
  padding: 30px 0;
}

.article {
  padding: 30px 0;
}

@media screen and (max-width: 600px) {
  .about-bg {
    background-position: top;
  }
  .about h1 {
    left: 0%;
  }
  .education {
    grid-template-columns: 1fr;
  }
  .education div:nth-child(3) {
    margin-bottom: 0px;
  }
}
=======
.about-bg {
  background: var(--c3);
  background-image: url("../../img/decor.svg");
  background-repeat: no-repeat;
  background-position: -350px;
}

.article h1 {
  padding: 8px 8px 8px 8px;
  left: 5%;
}

.education {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.education div:nth-last-child(-n + 2) {
  margin-bottom: 30px;
}

.about-content {
  padding: 30px;
}

.article-bg {
  background: var(--c15);
}

.article p {
  text-align: center;
  padding: 30px 0;
}

.article {
  padding: 30px 0;
}

@media screen and (max-width: 600px) {
  .about-bg {
    background-position: top;
  }
  .about h1 {
    left: 0%;
  }
  .education {
    grid-template-columns: 1fr;
  }
  .education div:nth-child(3) {
    margin-bottom: 0px;
  }
}
>>>>>>> 9da0a76 (teste)
