<<<<<<< HEAD
.cv-bg {
  background: var(--c16);
}

.cv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.xp h1 {
  padding: 48px 8px 0px 8px;
}

.xp h1 {
  left: 10%;
}

.skills {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
  padding-bottom: 64px;
}

.skill h1 {
  padding: 64px 8px 88px 8px;
  right: 10%;
}

.language h1 {
  padding: 52px 8px 40px 8px;
  right: 10%;
}

.skill-list li {
  padding: 12px;
}

.job {
  position: relative;
  padding-bottom: 40px;
  padding-top: 40px;
}

.job h3 {
  margin-left: 20px;
}

.job p {
  margin-left: 40px;
}

.separator2 {
  content: "";
  position: absolute;
  top: 99%;
  left: 2.5%;
  z-index: 3;
  height: 8px;
  width: 95%;
  border-radius: 4px;
  background-color: var(--c15);
}

.xp {
  margin-bottom: 38px;
}

@media screen and (max-width: 1100px) {
  .cv {
    grid-template-columns: 1fr;
  }
  .cv h1 {
    left: 0%;
    right: 0%;
  }
  .skill h1 {
    padding: 0px 8px 32px 8px;
  }
  .language ul:last-child {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 500px) {
  .job {
    padding: 20px 0px;
  }
  .job h3 {
    padding: 4px 0px;
  }
}
=======
.cv-bg {
  background: var(--c16);
}

.cv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.xp h1 {
  padding: 48px 8px 0px 8px;
}

.xp h1 {
  left: 10%;
}

.skills {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
  padding-bottom: 64px;
}

.skill h1 {
  padding: 64px 8px 88px 8px;
  right: 10%;
}

.language h1 {
  padding: 52px 8px 40px 8px;
  right: 10%;
}

.skill-list li {
  padding: 12px;
}

.job {
  position: relative;
  padding-bottom: 40px;
  padding-top: 40px;
}

.job h3 {
  margin-left: 20px;
}

.job p {
  margin-left: 40px;
}

.separator2 {
  content: "";
  position: absolute;
  top: 99%;
  left: 2.5%;
  z-index: 3;
  height: 8px;
  width: 95%;
  border-radius: 4px;
  background-color: var(--c15);
}

.xp {
  margin-bottom: 38px;
}

@media screen and (max-width: 1100px) {
  .cv {
    grid-template-columns: 1fr;
  }
  .cv h1 {
    left: 0%;
    right: 0%;
  }
  .skill h1 {
    padding: 0px 8px 32px 8px;
  }
  .language ul:last-child {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 500px) {
  .job {
    padding: 20px 0px;
  }
  .job h3 {
    padding: 4px 0px;
  }
}
>>>>>>> 9da0a76 (teste)
